.typed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  width: 0%;
}
/* 4.5s */
.typed1 {
  animation: typing 3s steps(40, end) 1.5s forwards;
}
/* 8s */
.typed2 {
  animation: typing 3.5s steps(40, end) 4.5s forwards;
}
/*  */
.typed3 {
  animation: typing 3s steps(40, end) 8s forwards;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
    white-space: normal;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
